<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Main</title>
</head>
    <body>
    <div th:replace="fragments/navbar :: header">&nbsp;</div>
        <div>
            <form class="row my-3 mx-2" th:action="@{/main}" th:method="get" th:object="${filter}">
                <div class="col-auto">
                    <input type="text" name="filter" class="form-control" placeholder="search by tag">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>

            <form class="row my-3 mx-2" th:action="@{/main}" th:method="post" enctype="multipart/form-data">
                <div class="mb-2 col-auto">
                    <input class="form-control" type="text" name="text" id="text" placeholder="Enter message: ">
                </div>
                <div class="mb-2 col-auto">
                    <input class="form-control" type="text" name="tag" placeholder="tag">
                </div>
                <div class="mb-2 col-auto">
                    <input class="form-control" type="file" id="formFile" name="file">
                </div>
                <div class="mb-2 col-auto">
                    <button type="submit" class="btn btn-success">Add message</button>
                </div>
            </form>
        </div>
        <h3 class="text-center" th:if="${messages}">List of messages: </h3>
        <h3 th:unless="${messages}">There are no messages still, add one! </h3>
        <div class="messages" >
            <div th:each="message : ${messages}" class="card m-3" style="width: 18rem;">
                <img th:if="${message.getFileName() != null}" class="card-img-top" th:src="@{/img/{filename}(filename = ${message.getFileName()})}" alt="image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${message.getTag()}">Card title</h5>
                    <p class="card-text" th:text="${message.getText()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="text-muted" th:text="${message.getAuthorName()}"></p>
                    <a href="#" class="btn btn-primary">Show</a>
                </div>
            </div>
        </div>
    </body>
</html>